Repository Project-Pandora-Game/pandora-assets, pull requests merged in 2024-09, with the labels that each got.

#273 [ADD] New asset "Connecting Chains"
  src/assets/arm_restraints/armbinder/armbinder.asset.ts
  src/assets/arm_restraints/beltChains/beltChains.asset.ts
  src/assets/arm_restraints/beltChains/graphics.json
  src/assets/foot_restraints/leather_ankle_cuffs/leather_ankle_cuffs.asset.ts
  src/assets/misc/connectingChains/armbinder_chains_l_closed.png
  src/assets/misc/connectingChains/armbinder_chains_l_normal.png
  src/assets/misc/connectingChains/armbinder_chains_l_spread.png
  src/assets/misc/connectingChains/armbinder_chains_l_spread_slightly.png
  src/assets/misc/connectingChains/armbinder_chains_l_spread_wide.png
  src/assets/misc/connectingChains/armbinder_chains_lf_normal.png
  src/assets/misc/connectingChains/armbinder_chains_lf_spread_wide.png
  src/assets/misc/connectingChains/armbinder_chains_r_closed.png
  src/assets/misc/connectingChains/armbinder_chains_r_normal.png
  src/assets/misc/connectingChains/armbinder_chains_r_spread.png
  src/assets/misc/connectingChains/armbinder_chains_r_spread_slightly.png
  src/assets/misc/connectingChains/armbinder_chains_r_spread_wide.png
  src/assets/misc/connectingChains/armbinder_chains_rf_normal.png
  src/assets/misc/connectingChains/armbinder_chains_rf_spread_wide.png
  src/assets/misc/connectingChains/belt_chains.png
  src/assets/misc/connectingChains/connectingChains.asset.ts
  src/assets/misc/connectingChains/graphics.json
  src/assets/misc/connectingChains/preview.png
  src/attributes.ts
Labels: Component: Assets, Type: Feature

#275 [ADD] Connect wrist to ankle cuffs
  src/assets/arm_restraints/leather_wrist_cuffs/graphics.json
  src/assets/arm_restraints/leather_wrist_cuffs/leather_wrist_cuffs.asset.ts
  src/assets/arm_restraints/steel_wrist_cuffs/graphics.json
  src/assets/arm_restraints/steel_wrist_cuffs/steel_wrist_cuffs.asset.ts
  src/assets/arm_restraints/steel_wrist_cuffs/steelcuffs_chain_collar.png
  src/assets/foot_restraints/spreader_bar/spreader_bar.asset.ts
  src/assets/misc/connectingChains/connectingChains.asset.ts
  src/assets/misc/connectingChains/cuffs_chain_collar.png
  src/assets/misc/connectingChains/graphics.json
  src/assets/misc/connectingChains/wrist_chains_ankles_l_closed.png
  src/assets/misc/connectingChains/wrist_chains_ankles_l_spread.png
  src/assets/misc/connectingChains/wrist_chains_ankles_l_spread_slightly.png
  src/assets/misc/connectingChains/wrist_chains_ankles_l_spread_wide.png
  src/assets/misc/connectingChains/wrist_chains_ankles_lf_closed.png
  src/assets/misc/connectingChains/wrist_chains_ankles_lf_spread.png
  src/assets/misc/connectingChains/wrist_chains_ankles_lf_spread_slightly.png
  src/assets/misc/connectingChains/wrist_chains_ankles_lf_spread_wide.png
  src/assets/misc/connectingChains/wrist_chains_ankles_r_closed.png
  src/assets/misc/connectingChains/wrist_chains_ankles_r_spread.png
  src/assets/misc/connectingChains/wrist_chains_ankles_r_spread_slightly.png
  src/assets/misc/connectingChains/wrist_chains_ankles_r_spread_wide.png
  src/assets/misc/connectingChains/wrist_chains_ankles_rf_closed.png
  src/assets/misc/connectingChains/wrist_chains_ankles_rf_spread.png
  src/assets/misc/connectingChains/wrist_chains_ankles_rf_spread_slightly.png
  src/assets/misc/connectingChains/wrist_chains_ankles_rf_spread_wide.png
Labels: Component: Assets, Type: Feature

#280 [ADD] Knee-high nylon socks
  src/assets/legwear/medium_nylon_socks/graphics.json
  src/assets/legwear/medium_nylon_socks/medium_nylon_socks.asset.ts
  src/assets/legwear/medium_nylon_socks/medium_nylon_socks.png
  src/assets/legwear/medium_nylon_socks/medium_nylon_socks_back.png
  src/assets/legwear/medium_nylon_socks/nylon_socks_soles.png
  src/assets/legwear/medium_nylon_socks/preview.png
Labels: Component: Assets, Type: Feature

#278 [ADD] bandeau bra
  src/assets/bottoms/leggings/preview.png
  src/assets/bras/bandeau_bra/bandeau_bra.asset.ts
  src/assets/bras/bandeau_bra/bra_back.png
  src/assets/bras/bandeau_bra/bra_breasts.png
  src/assets/bras/bandeau_bra/bra_breasts_small.png
  src/assets/bras/bandeau_bra/bra_front.png
  src/assets/bras/bandeau_bra/graphics.json
  src/assets/bras/bandeau_bra/preview.png
  src/assets/bras/style1/preview.png
  src/assets/dresses/maid_dress/graphics.json
  src/assets/dresses/maid_dress/maid_dress.asset.ts
  src/posePresets.ts
Labels: Component: Assets, Type: Feature, Type: Improvement

#279 [ADD] Reverse prayer position
  src/assets/arm_restraints/leather_wrist_cuffs/graphics.json
  src/assets/arm_restraints/leather_wrist_cuffs/leather_wrist_cuffs.asset.ts
  src/assets/arm_restraints/leather_wrist_cuffs/leathercuffs_chain_reverse_prayer.png
  src/assets/arm_restraints/steel_wrist_cuffs/graphics.json
  src/assets/arm_restraints/steel_wrist_cuffs/steel_wrist_cuffs.asset.ts
  src/assets/arm_restraints/steel_wrist_cuffs/steelcuffs_chain_reverse_prayer.png
  src/assets/misc/connectingChains/connectingChains.asset.ts
  src/assets/misc/connectingChains/graphics.json
  src/assets/misc/connectingChains/wrist_chains_collar.png
  src/assets/misc/connectingChains/wrist_chains_collar_prayer_back.png
  src/assets/misc/connectingChains/wrist_chains_collar_prayer_front.png
Labels: Component: Assets, Type: Feature

#282 [ADD] Add bone offsets for posing UI
  pnpm-lock.yaml
  src/bones.ts
Labels: Type: Feature, Component: Asset framework

#283 [FIX] Normalize hair colors
  src/assets/body/back_hair2/bhair2.png
  src/assets/body/back_hair3/bhair3.png
  src/assets/body/back_hair4/bhair4.png
  src/assets/body/back_hair4_long/bhair4_long.png
  src/assets/body/back_hair4_short/bhair4_short.png
  src/assets/body/back_hair_pigtails/pigtail_left.png
  src/assets/body/back_hair_pigtails/pigtail_right.png
  src/assets/body/back_hair_ponytail/ponytail_left.png
  src/assets/body/back_hair_ponytail/ponytail_right.png
  src/assets/body/back_hair_twintails/twintail_left.png
  src/assets/body/back_hair_twintails/twintail_right.png
  src/assets/body/back_hair_twintails_long/twintail_long_left.png
  src/assets/body/back_hair_twintails_long/twintail_long_right.png
  src/assets/body/front_hair1/hair1.png
  src/assets/body/front_hair2/hair2.png
  src/assets/body/front_hair3/hair3.png
  src/assets/body/front_hair4/hair4.png
  src/assets/body/front_hair5/hair5.png
  src/tools/normalize.ts
Labels: Component: Assets, Type: Improvement
