Repository Project-Pandora-Game/pandora-assets, pull requests merged in 2024-12, with the labels that each got.

#310 [FIX] Add missing point types to point templates
  src/assets/body/base/base.asset.ts
  src/assets/body/ears/ears.asset.ts
  src/assets/body/female_sex1/female_sex1.asset.ts
  src/assets/body/head/head.asset.ts
  src/templates/body.json
  src/templates/custom_arm_restraints_straight_jacket_straps.body.patch
  src/templates/custom_arm_restraints_straight_jacket_straps.json
  src/templates/custom_arm_restraints_torso_ropes.body.patch
  src/templates/custom_arm_restraints_torso_ropes.json
  src/templates/custom_foot_restraints_duct_tape.json
  src/templates/index.ts
  src/templates/skirt_long.json
  src/templates/skirt_short.json
  src/tools/validation/templates.ts
Labels: Component: Assets, Type: Fix, Component: Asset framework

#311 [ADD] Artificial finger nails
  src/assets/accessories/finger_nails/finger_nails.asset.ts
  src/assets/accessories/finger_nails/graphics.json
  src/assets/accessories/finger_nails/nails_standard_back_fist_down.png
  src/assets/accessories/finger_nails/nails_standard_back_spread_up.png
  src/assets/accessories/finger_nails/nails_standard_front_fist_up.png
  src/assets/accessories/finger_nails/nails_standard_front_spread_down.png
  src/assets/accessories/finger_nails/nails_standard_front_spread_forward.png
  src/assets/accessories/finger_nails/preview.png
  src/assets/arm_restraints/armbinder/armbinder.asset.ts
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket.asset.ts
  src/assets/arm_restraints/mittens/mittens.asset.ts
  src/assets/arm_restraints/steel_spheres/steel_spheres.asset.ts
  src/attributes.ts
Labels: Component: Assets, Type: Feature, Type: Improvement

#321 [FIX] reworked cutting approach of the latex catsuit to remove artifacts
  src/assets/dresses/latex_catsuit/graphics.json
  src/assets/dresses/latex_catsuit/latex_catsuit_back_long_legs.png
  src/assets/dresses/latex_catsuit/latex_catsuit_front_long_legs.png
  src/assets/dresses/latex_catsuit/latex_catsuit_front_short_arms.png
  src/assets/dresses/latex_catsuit/latex_catsuit_long_arms.png
  src/assets/dresses/latex_catsuit/latex_catsuit_long_legs.png
  src/assets/dresses/latex_catsuit/latex_catsuit_short_arms.png
Labels: Component: Assets, Type: Fix

#322 [ADD] new attribute for restricted covered hands and large asset attribute update
  src/assets/arm_restraints/armbinder/armbinder.asset.ts
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket.asset.ts
  src/assets/arm_restraints/mittens/mittens.asset.ts
  src/assets/arm_restraints/steel_spheres/steel_spheres.asset.ts
  src/assets/handhelds/cane/cane.asset.ts
  src/assets/handhelds/crop/crop.asset.ts
  src/assets/handhelds/flogger/flogger.asset.ts
  src/assets/handhelds/lotion_bottle/lotion_bottle.asset.ts
  src/assets/handhelds/mug/mug.asset.ts
  src/assets/handhelds/paddle/paddle.asset.ts
  src/assets/handhelds/room_construction_tools/room_construction_tools.asset.ts
  src/assets/handhelds/slapper/slapper.asset.ts
  src/assets/handhelds/tea_cup/tea_cup.asset.ts
  src/assets/handhelds/vibe_wand/vibe_wand.asset.ts
  src/attributes.ts
Labels: Component: Assets, Type: Improvement

#325 [ADD] new pattern for the stockings
  src/assets/accessories/cowbell/cowbell.asset.ts
  src/assets/handhelds/presents/presents.asset.ts
  src/assets/legwear/medium_nylon_socks/medium_nylon_socks.asset.ts
  src/assets/legwear/stocking/graphics.json
  src/assets/legwear/stocking/stocking.asset.ts
  src/assets/legwear/stocking/stocking_b_stripes.png
  src/assets/legwear/stocking/stocking_f_stripes.png
Labels: Component: Assets, Type: Feature

#331 [ADD] Allow overlaying male sex on top of other items
  src/assets/body/male_sex1/graphics.json
  src/assets/body/male_sex1/male_sex1.asset.ts
Labels: Component: Assets, Type: Improvement
