Repository Project-Pandora-Game/pandora-assets, pull requests merged in 2024-08, with the labels that each got.

#267 [DEV] Update repo configuration when making it public
  .github/pull_request_template.md
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/pr-lint.yml
Labels: Component: Tooling, Type: Improvement

#268 [CHORE] Update pandora and regenerate lockfile
  pnpm-lock.yaml
Labels: Component: Tooling, Type: Improvement

#269 [FIX] echo body aftermath and frame couch
  src/assets/body/base/base.asset.ts
  src/assets/body/base/graphics.json
  src/assets/body/ears/ears.asset.ts
  src/assets/body/head/head.asset.ts
  src/assets/body/spank_marks/graphics.json
  src/assets/bras/latex_corset/graphics.json
  src/assets/bras/see-through_chastity_bra/graphics.json
  src/assets/bras/style1/graphics.json
  src/assets/dresses/nightgown/graphics.json
  src/assets/dresses/party_dress/graphics.json
  src/assets/room_devices/frame_couch/frame_couch.asset.ts
  src/assets/tops/leather_jacket/graphics.json
  src/assets/tops/net_top/graphics.json
  src/assets/tops/t-shirt1/graphics.json
  src/colorGroups.ts
  src/templates/breast_toy.json
Labels: Component: Assets, Type: Fix, Type: Improvement

#270 [CHANGE] Add a module for character facing
  src/assets/room_devices/floor_anchors/floor_anchors.asset.ts
Labels: Component: Assets, Type: Improvement
