Repository Project-Pandora-Game/pandora-assets, pull requests merged in 2025-01, with the labels that each got.

#337 [ADD] more eyes variants for eyes 3 and eyes 4
  src/assets/body/eyes3/cornea_big.png
  src/assets/body/eyes3/cornea_down.png
  src/assets/body/eyes3/cornea_left.png
  src/assets/body/eyes3/cornea_right.png
  src/assets/body/eyes3/cornea_rolled.png
  src/assets/body/eyes3/cornea_small.png
  src/assets/body/eyes3/cornea_up.png
  src/assets/body/eyes3/eyebase_wide.png
  src/assets/body/eyes3/eyelashes.png
  src/assets/body/eyes3/eyelashes_wide.png
  src/assets/body/eyes3/eyes3.asset.ts
  src/assets/body/eyes3/graphics.json
  src/assets/body/eyes3/pupils2_down.png
  src/assets/body/eyes3/pupils2_left.png
  src/assets/body/eyes3/pupils2_right.png
  src/assets/body/eyes3/pupils2_rolled.png
  src/assets/body/eyes3/pupils2_up.png
  src/assets/body/eyes3/pupils3_down.png
  src/assets/body/eyes3/pupils3_left.png
  src/assets/body/eyes3/pupils3_right.png
  src/assets/body/eyes3/pupils3_rolled.png
  src/assets/body/eyes3/pupils3_up.png
  src/assets/body/eyes3/pupils4_down.png
  src/assets/body/eyes3/pupils4_left.png
  src/assets/body/eyes3/pupils4_right.png
  src/assets/body/eyes3/pupils4_rolled.png
  src/assets/body/eyes3/pupils4_up.png
  src/assets/body/eyes3/pupils_down.png
  src/assets/body/eyes3/pupils_left.png
  src/assets/body/eyes3/pupils_right.png
  src/assets/body/eyes3/pupils_rolled.png
  src/assets/body/eyes3/pupils_up.png
  src/assets/body/eyes4/cornea_down.png
  src/assets/body/eyes4/cornea_left.png
  src/assets/body/eyes4/cornea_right.png
  src/assets/body/eyes4/cornea_rolled.png
  src/assets/body/eyes4/cornea_up.png
  src/assets/body/eyes4/eyes4.asset.ts
  src/assets/body/eyes4/graphics.json
  src/assets/body/eyes4/pupils2_down.png
  src/assets/body/eyes4/pupils2_left.png
  src/assets/body/eyes4/pupils2_right.png
  src/assets/body/eyes4/pupils2_rolled.png
  src/assets/body/eyes4/pupils2_up.png
  src/assets/body/eyes4/pupils3_down.png
  src/assets/body/eyes4/pupils3_left.png
  src/assets/body/eyes4/pupils3_right.png
  src/assets/body/eyes4/pupils3_rolled.png
  src/assets/body/eyes4/pupils3_up.png
  src/assets/body/eyes4/pupils4_down.png
  src/assets/body/eyes4/pupils4_left.png
  src/assets/body/eyes4/pupils4_right.png
  src/assets/body/eyes4/pupils4_rolled.png
  src/assets/body/eyes4/pupils4_up.png
  src/assets/body/eyes4/pupils_down.png
  src/assets/body/eyes4/pupils_left.png
  src/assets/body/eyes4/pupils_right.png
  src/assets/body/eyes4/pupils_rolled.png
  src/assets/body/eyes4/pupils_up.png
  src/posePresets.ts
Labels: Component: Assets, Type: Feature

#343 [ADD] closed state to all eyes with blinding effect
  src/assets/body/eyes3/eyes3.asset.ts
  src/assets/body/eyes3/graphics.json
  src/assets/body/eyes4/eyes4.asset.ts
  src/assets/body/eyes4/graphics.json
  src/assets/body/eyes5/eyes5.asset.ts
  src/assets/body/eyes5/graphics.json
Labels: Component: Assets, Type: Feature

#345 [CHORE] Update to Node.js 22 and TypeScript 5.7
  .github/renovate.json
  .github/workflows/ci.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: Component: Tooling, Status: Has dependencies, Type: Improvement

#346 [ADD] More validation for pose limit enums
  src/assets/body/base/base.asset.ts
  src/assets/foot_restraints/steel_ankle_cuffs/steel_ankle_cuffs.asset.ts
  src/assets/footwear/fluffy_shoes/fluffy_shoes.asset.ts
  src/tools/validation/properties.ts
Labels: Type: Fix, Type: Improvement, Component: Asset framework

#309 [ADD] Gloves
  src/assets/arm_restraints/mittens/graphics.json
  src/assets/arm_restraints/mittens/mittens_side_backward.png
  src/assets/arm_restraints/mittens/mittens_side_shine.png
  src/assets/arm_restraints/paw_mittens/graphics.json
  src/assets/arm_restraints/paw_mittens/mittens_side_backward.png
  src/assets/arm_restraints/paw_mittens/mittens_side_shine.png
  src/assets/body/base/body_armsback.png
  src/assets/body/base/body_back_armsback.png
  src/assets/body/base/graphics.json
  src/assets/gloves/gloves/gloves.asset.ts
  src/assets/gloves/gloves/gloves_back_cuffs_long.png
  src/assets/gloves/gloves/gloves_back_cuffs_medium.png
  src/assets/gloves/gloves/gloves_back_fist_backward.png
  src/assets/gloves/gloves/gloves_back_fist_backward_reflection.png
  src/assets/gloves/gloves/gloves_back_fist_down.png
  src/assets/gloves/gloves/gloves_back_fist_down_reflection.png
  src/assets/gloves/gloves/gloves_back_fist_forward.png
  src/assets/gloves/gloves/gloves_back_fist_forward_reflection.png
  src/assets/gloves/gloves/gloves_back_fist_up.png
  src/assets/gloves/gloves/gloves_back_fist_up_reflection.png
  src/assets/gloves/gloves/gloves_back_spread_backward.png
  src/assets/gloves/gloves/gloves_back_spread_backward_reflection.png
  src/assets/gloves/gloves/gloves_back_spread_down.png
  src/assets/gloves/gloves/gloves_back_spread_down_reflection.png
  src/assets/gloves/gloves/gloves_back_spread_forward.png
  src/assets/gloves/gloves/gloves_back_spread_forward_reflection.png
  src/assets/gloves/gloves/gloves_back_spread_up.png
  src/assets/gloves/gloves/gloves_back_spread_up_reflection.png
  src/assets/gloves/gloves/gloves_front_cuffs_long.png
  src/assets/gloves/gloves/gloves_front_cuffs_medium.png
  src/assets/gloves/gloves/gloves_front_fist_backward.png
  src/assets/gloves/gloves/gloves_front_fist_backward_reflection.png
  src/assets/gloves/gloves/gloves_front_fist_down.png
  src/assets/gloves/gloves/gloves_front_fist_down_reflection.png
  src/assets/gloves/gloves/gloves_front_fist_forward.png
  src/assets/gloves/gloves/gloves_front_fist_forward_reflection.png
  src/assets/gloves/gloves/gloves_front_fist_up.png
  src/assets/gloves/gloves/gloves_front_fist_up_reflection.png
  src/assets/gloves/gloves/gloves_front_spread_backward.png
  src/assets/gloves/gloves/gloves_front_spread_backward_reflection.png
  src/assets/gloves/gloves/gloves_front_spread_down.png
  src/assets/gloves/gloves/gloves_front_spread_down_reflection.png
  src/assets/gloves/gloves/gloves_front_spread_forward.png
  src/assets/gloves/gloves/gloves_front_spread_forward_reflection.png
  src/assets/gloves/gloves/gloves_front_spread_up.png
  src/assets/gloves/gloves/gloves_front_spread_up_reflection.png
  src/assets/gloves/gloves/gloves_reflection_long.png
  src/assets/gloves/gloves/gloves_reflection_medium.png
  src/assets/gloves/gloves/graphics.json
  src/assets/gloves/gloves/pattern_cow_long.png
  src/assets/gloves/gloves/pattern_cow_medium.png
  src/assets/gloves/gloves/preview.png
Labels: Component: Assets, Type: Improvement

#347 [ADD] Wrist watch
  src/assets/accessories/wrist_watch/graphics.json
  src/assets/accessories/wrist_watch/preview.png
  src/assets/accessories/wrist_watch/wrist_watch.asset.ts
  src/assets/accessories/wrist_watch/wrist_watch_back_up.png
  src/assets/accessories/wrist_watch/wrist_watch_dial_down.png
  src/assets/accessories/wrist_watch/wrist_watch_dial_front.png
  src/assets/accessories/wrist_watch/wrist_watch_dial_up.png
  src/assets/accessories/wrist_watch/wrist_watch_down_backward.png
  src/assets/accessories/wrist_watch/wrist_watch_front_down.png
  src/assets/accessories/wrist_watch/wrist_watch_up_forward.png
Labels: Component: Assets

#349 [ADD] Preview generation configuration for base assets
  pnpm-lock.yaml
  src/assets/body/base/graphics.json
  src/assets/body/ears/graphics.json
  src/assets/body/female_sex1/graphics.json
  src/assets/body/head/graphics.json
  src/assets/body/head/head.png
  src/assets/body/head/head_back.png
  src/assets/body/nose1/graphics.json
  src/assets/body/nose2/graphics.json
  src/assets/body/nose3/graphics.json
Labels: Type: Feature, Component: Asset framework

#351 [DEV] Migrate ESLint config to flat format
  .eslintrc.json
  .hooks/postinstall.cjs
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: Component: Tooling, Type: Improvement

#352 [FIX] back hair 2 and cat ears layering
  pnpm-lock.yaml
  src/assets/arm_restraints/leather_wrist_cuffs/leather_wrist_cuffs.asset.ts
  src/assets/arm_restraints/steel_wrist_cuffs/steel_wrist_cuffs.asset.ts
  src/assets/body/back_hair2/graphics.json
  src/assets/handhelds/mug/mug.asset.ts
  src/assets/handhelds/tea_cup/tea_cup.asset.ts
  src/assets/headwear/cat_ears/graphics.json
  src/assets/room_devices/barrel/barrel.asset.ts
Labels: Component: Assets, Type: Fix
