Repository Project-Pandora-Game/pandora-assets, pull requests merged in 2025-08, with the labels that each got.

#471 [DEV] Drop dotenv in favor of using Node.js builtin
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: Component: Tooling, Type: Improvement

#470 [FEATURE] Multiple rooms per space and fix of floor anchors
  pnpm-lock.yaml
  src/assets/accessories/shoulder_bag/shoulder_bag.asset.ts
  src/assets/arm_restraints/inflatable_sleeping_bag/inflatable_sleeping_bag.asset.ts
  src/assets/foot_restraints/leather_ankle_cuffs/leather_ankle_cuffs.asset.ts
  src/assets/foot_restraints/steel_ankle_cuffs/steel_ankle_cuffs.asset.ts
  src/assets/handhelds/presents/presents.asset.ts
  src/assets/misc/pocketDimension/pocketDimension.asset.ts
  src/assets/room_devices/barrel/barrel.asset.ts
  src/assets/room_devices/cage_bench/cage_bench.asset.ts
  src/assets/room_devices/cardboard_box/cardboard_box.asset.ts
  src/assets/room_devices/floor_anchors/chain_hanging_kneeling.png
  src/assets/room_devices/floor_anchors/chain_hanging_kneeling_back.png
  src/assets/room_devices/floor_anchors/chain_hanging_short.png
  src/assets/room_devices/floor_anchors/chain_hanging_short_back.png
  src/assets/room_devices/hanging_cage/hanging_cage.asset.ts
  src/assets/room_devices/large_cage/large_cage.asset.ts
  src/assets/room_devices/pet_hut/pet_hut.asset.ts
  src/assets/room_devices/presents/presents.asset.ts
  src/assets/room_devices/storage_chest/storage_chest.asset.ts
  src/assets/room_devices/suspension_ring/suspension_ring.asset.ts
  src/characterModifierTemplates.ts
  src/tools/definitionPersonal.ts
  src/tools/definitionRoomDevice.ts
  src/tools/graphics.ts
  src/tools/validation/assetGraphics.ts
Labels: Component: Assets, Type: Fix, Type: Improvement

#476 [ADD] Differently colored eyes
  src/assets/blindfolds/kigurumi_mask/graphics.json
  src/assets/blindfolds/kigurumi_mask/kigurumi_mask.asset.ts
  src/assets/body/eyes3/eyes3.asset.ts
  src/assets/body/eyes3/graphics.json
  src/assets/body/eyes4/eyes4.asset.ts
  src/assets/body/eyes4/graphics.json
  src/assets/body/eyes5/eyes5.asset.ts
  src/assets/body/eyes5/graphics.json
Labels: Component: Assets, Type: Improvement

#479 [DEV] Publish acceptable assets policy draft
  CONTRIBUTING.md
Labels: Type: Documentation
