Repository Project-Pandora-Game/pandora-assets, pull requests merged in 2025-04, with the labels that each got.

#411 [CHANGE] cage bench pose limits to support more restraints
  src/assets/room_devices/cage_bench/cage_bench.asset.ts
  src/templates/skirt_long.json
  src/templates/skirt_short.json
Labels: Component: Assets, Type: Improvement

#415 [ADD] Pull-up Diaper
  src/assets/panties/pullup_diaper/diaper_back.png
  src/assets/panties/pullup_diaper/diaper_back_full.png
  src/assets/panties/pullup_diaper/diaper_back_wet.png
  src/assets/panties/pullup_diaper/diaper_back_wetter.png
  src/assets/panties/pullup_diaper/diaper_front.png
  src/assets/panties/pullup_diaper/diaper_front_full.png
  src/assets/panties/pullup_diaper/diaper_front_wet.png
  src/assets/panties/pullup_diaper/diaper_front_wetter.png
  src/assets/panties/pullup_diaper/graphics.json
  src/assets/panties/pullup_diaper/preview.png
  src/assets/panties/pullup_diaper/pullup_diaper.asset.ts
  src/attributes.ts
Labels: Status: Discussion needed

#425 [ADD] Wooden Chair
  src/assets/room_devices/wooden_chair/ankles_split.png
  src/assets/room_devices/wooden_chair/ankles_together.png
  src/assets/room_devices/wooden_chair/ankles_together_back.png
  src/assets/room_devices/wooden_chair/body.png
  src/assets/room_devices/wooden_chair/chair_arms.png
  src/assets/room_devices/wooden_chair/chair_base.png
  src/assets/room_devices/wooden_chair/cushion_arms.png
  src/assets/room_devices/wooden_chair/cushion_arms_shadow.png
  src/assets/room_devices/wooden_chair/cushion_normal.png
  src/assets/room_devices/wooden_chair/cushion_normal_shadow.png
  src/assets/room_devices/wooden_chair/dildo_1.png
  src/assets/room_devices/wooden_chair/dildo_2.png
  src/assets/room_devices/wooden_chair/preview.png
  src/assets/room_devices/wooden_chair/waist.png
  src/assets/room_devices/wooden_chair/wooden_chair.asset.ts
  src/assets/room_devices/wooden_chair/wrists_armrests.png
  src/assets/room_devices/wooden_chair/wrists_armrests_back.png
Labels: Component: Assets, Type: Feature

#426 [CHANGE] underwear pants&panties attributes and handheld template
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket.asset.ts
  src/assets/bottoms/jeans/jeans.asset.ts
  src/assets/bottoms/jeans_shorts/jeans_shorts.asset.ts
  src/assets/bottoms/leggings/leggings.asset.ts
  src/assets/bottoms/school_uniform_pants/school_uniform_pants.asset.ts
  src/assets/bras/latex_corset/latex_corset.asset.ts
  src/assets/panties/boxer_shorts/boxer_shorts.asset.ts
  src/assets/panties/boy_briefs/boy_briefs.asset.ts
  src/assets/panties/heart_belt/heart_belt.asset.ts
  src/assets/panties/pullup_diaper/pullup_diaper.asset.ts
  src/assets/panties/see-through_chastity_belt/see-through_chastity_belt.asset.ts
  src/assets/panties/strapon_panties/strapon_panties.asset.ts
  src/assets/room_devices/wooden_chair/wooden_chair.asset.ts
  src/assets/room_devices/wooden_horse/wooden_horse.asset.ts
  src/assets/toys/vaginal_vibrator/vaginal_vibrator.asset.ts
  src/attributes.ts
  src/templates/handheld.json
Labels: Component: Assets, Type: Improvement

#428 [FEATURE] Randomization pose preset
  pnpm-lock.yaml
  src/presets.ts
Labels: Type: Feature, Component: Asset framework

#435 [FIX] cross and spank mark issues
  src/assets/body/spank_marks/breast_color.png
  src/assets/body/spank_marks/breast_color_small.png
  src/assets/body/spank_marks/butt_red_extreme.png
  src/assets/body/spank_marks/butt_red_faint.png
  src/assets/body/spank_marks/butt_red_medium.png
  src/assets/body/spank_marks/butt_red_strong.png
  src/assets/body/spank_marks/hand_prints_inside.png
  src/assets/body/spank_marks/hand_prints_outside.png
  src/assets/body/spank_marks/privates_color.png
  src/assets/room_devices/bondage_cross/bondage_cross.asset.ts
Labels: Component: Assets, Type: Fix, Type: Improvement

#437 [CHORE] Update pandora-common to support new automesh layer properties
  pnpm-lock.yaml
  src/assets/arm_restraints/mittens/graphics.json
Labels: Type: Improvement, Component: Asset framework
