Repository Project-Pandora-Game/pandora-assets, pull requests merged in 2025-02, with the labels that each got.

#363 [FIX] Update corepack npm registry keys
  .github/workflows/ci.yml
  .hooks/include.sh
  .hooks/vscode-setup.bat
  .hooks/vscode-setup.sh
  package.json
  pnpm-lock.yaml
Labels: Component: Tooling, Type: Fix

#353 [FIX] nurse dress layers and cross pose changes
  src/assets/dresses/nurse_dress/graphics.json
  src/assets/footwear/fluffy_shoes/fluffy_shoes.asset.ts
  src/assets/room_devices/bondage_cross/bondage_cross.asset.ts
Labels: Component: Assets, Type: Fix

#369 [REFACTOR] Use Sharp instead of Jimp for normalize script
  package.json
  pnpm-lock.yaml
  src/tools/normalize.ts
Labels: Component: Tooling, Type: Improvement

#373 [CHANGE] Interaction type for tail positions
  src/assets/body/tail_cat/tail_cat.asset.ts
  src/assets/body/tail_puppy/tail_puppy.asset.ts
Labels: Component: Assets, Type: Improvement

#374 [FIX] Added missing attributes to steel ankle cuffs and duct tape gag
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket.asset.ts
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket_back.png
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket_front.png
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket_front_arms.png
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket_straps_back.png
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket_straps_back_open.png
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket_straps_front.png
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket_straps_front_arms.png
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket_straps_front_open.png
  src/assets/arm_restraints/canvas_straitjacket/graphics.json
  src/assets/arm_restraints/canvas_straitjacket/preview.png
  src/assets/foot_restraints/steel_ankle_cuffs/steel_ankle_cuffs.asset.ts
  src/assets/gags/duct_tape/duct_tape.asset.ts
Labels: Component: Assets, Type: Fix

#382 [REFACTOR] Separate lock logic from lock items
  pnpm-lock.yaml
  src/assets/locks/combination_lock/combination_lock.asset.ts
  src/assets/locks/dummy_lock/dummy_lock.asset.ts
  src/assets/locks/easy_combination_lock/easy_combination_lock.asset.ts
  src/assets/locks/exclusive_lock/exclusive_lock.asset.ts
  src/assets/locks/password_lock/password_lock.asset.ts
  src/tools/definitionLock.ts
Labels: Type: Improvement, Component: Asset framework

#384 [ADD] body modification filter attributes and icons
  src/attributes.ts
  src/icons/piercing.svg
  src/icons/tattoo.svg
Labels: Component: Assets, Type: Feature

#386 [CHANGE] Update tattoo and piercing attributes
  src/attributes.ts
Labels: Type: Improvement, Component: Asset framework

#388 [ADD] wig assets and according attribute filter category
  .vscode/tasks.json
  src/assets/blindfolds/full_hood/full_hood.asset.ts
  src/assets/blindfolds/half_hood/half_hood.asset.ts
  src/assets/blindfolds/steel_sphere/steel_sphere.asset.ts
  src/assets/body/back_hair10/back_hair10.asset.ts
  src/assets/body/back_hair11/back_hair11.asset.ts
  src/assets/body/back_hair2/back_hair2.asset.ts
  src/assets/body/back_hair3/back_hair3.asset.ts
  src/assets/body/back_hair4/back_hair4.asset.ts
  src/assets/body/back_hair4_long/back_hair4_long.asset.ts
  src/assets/body/back_hair4_short/back_hair4_short.asset.ts
  src/assets/body/back_hair5/back_hair5.asset.ts
  src/assets/body/back_hair6/back_hair6.asset.ts
  src/assets/body/back_hair7/back_hair7.asset.ts
  src/assets/body/back_hair8/back_hair8.asset.ts
  src/assets/body/back_hair9/back_hair9.asset.ts
  src/assets/body/front_hair1/front_hair1.asset.ts
  src/assets/body/front_hair10/front_hair10.asset.ts
  src/assets/body/front_hair11/front_hair11.asset.ts
  src/assets/body/front_hair12/front_hair12.asset.ts
  src/assets/body/front_hair2/front_hair2.asset.ts
  src/assets/body/front_hair3/front_hair3.asset.ts
  src/assets/body/front_hair4/front_hair4.asset.ts
  src/assets/body/front_hair5/front_hair5.asset.ts
  src/assets/body/front_hair6/front_hair6.asset.ts
  src/assets/body/front_hair7/front_hair7.asset.ts
  src/assets/body/front_hair8/front_hair8.asset.ts
  src/assets/body/front_hair9/front_hair9.asset.ts
  src/assets/headwear/towel_wrap/towel_wrap.asset.ts
  src/attributes.ts
  src/tools/definitionBodypart.ts
  src/tools/definitionLock.ts
  src/tools/definitionPersonal.ts
  src/tools/definitionRoomDevice.ts
  src/types.d.ts
Labels: Component: Assets, Type: Feature
