Repository Project-Pandora-Game/pandora-assets, pull requests merged in 2025-03, with the labels that each got.

#392 [FIX] reworked hand related attributes on applicable assets
  src/assets/arm_restraints/armbinder/armbinder.asset.ts
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket.asset.ts
  src/assets/arm_restraints/inflatable_sleeping_bag/inflatable_sleeping_bag.asset.ts
  src/assets/arm_restraints/mittens/mittens.asset.ts
  src/assets/arm_restraints/paw_mittens/paw_mittens.asset.ts
  src/assets/arm_restraints/steel_spheres/steel_spheres.asset.ts
  src/assets/body/eyes3/eyes3.asset.ts
  src/assets/body/eyes4/eyes4.asset.ts
  src/assets/body/eyes5/eyes5.asset.ts
  src/assets/dresses/latex_catsuit/latex_catsuit.asset.ts
  src/assets/gloves/gloves/gloves.asset.ts
  src/attributes.ts
Labels: Component: Assets, Type: Fix, Type: Improvement

#393 [ADD] Timer lock
  pnpm-lock.yaml
  src/assets/locks/timer_lock/timer_lock.asset.ts
Labels: Component: Assets, Type: Feature

#395 [ADD] More timer locks
  src/assets/bras/latex_corset/graphics.json
  src/assets/bras/latex_corset/latex_corset_underbust_bright_extreme.png
  src/assets/bras/latex_corset/latex_corset_underbust_bright_huge.png
  src/assets/bras/latex_corset/latex_corset_underbust_extreme.png
  src/assets/bras/latex_corset/latex_corset_underbust_huge.png
  src/assets/locks/timer_lock_05_1h/timer_lock_05_1h.asset.ts
  src/assets/locks/timer_lock_15_12h/timer_lock_15_12h.asset.ts
  src/assets/locks/timer_lock_35_48h/timer_lock_35_48h.asset.ts
  src/assets/locks/timer_lock_75_7d/timer_lock_75_7d.asset.ts
  src/assets/locks/timer_lock_95_1y/timer_lock_95_1y.asset.ts
Labels: Component: Assets, Type: Feature

#400 [CHORE] Removed "occupied" as a possible lock slot state and migrated all assets over to use "locked" state instead
  pnpm-lock.yaml
  src/assets/accessories/afk_necklace/afk_necklace.asset.ts
  src/assets/accessories/bondage_belt/bondage_belt.asset.ts
  src/assets/accessories/chain_leash/chain_leash.asset.ts
  src/assets/accessories/cowbell/cowbell.asset.ts
  src/assets/accessories/key_necklace/key_necklace.asset.ts
  src/assets/accessories/shock_module/shock_module.asset.ts
  src/assets/arm_restraints/armbinder/armbinder.asset.ts
  src/assets/arm_restraints/canvas_straitjacket/canvas_straitjacket.asset.ts
  src/assets/arm_restraints/inflatable_sleeping_bag/inflatable_sleeping_bag.asset.ts
  src/assets/arm_restraints/leather_wrist_cuffs/leather_wrist_cuffs.asset.ts
  src/assets/arm_restraints/mittens/mittens.asset.ts
  src/assets/arm_restraints/paw_mittens/paw_mittens.asset.ts
  src/assets/arm_restraints/pet_crawler_armbinders/pet_crawler_armbinders.asset.ts
  src/assets/arm_restraints/steel_spheres/steel_spheres.asset.ts
  src/assets/arm_restraints/steel_wrist_cuffs/steel_wrist_cuffs.asset.ts
  src/assets/arm_restraints/straight_jacket_straps/straight_jacket_straps.asset.ts
  src/assets/arm_restraints/yoke/yoke.asset.ts
  src/assets/blindfolds/full_hood/full_hood.asset.ts
  src/assets/blindfolds/half_hood/half_hood.asset.ts
  src/assets/blindfolds/padded_blindfold/padded_blindfold.asset.ts
  src/assets/blindfolds/steel_sphere/steel_sphere.asset.ts
  src/assets/bras/latex_corset/latex_corset.asset.ts
  src/assets/bras/see-through_chastity_bra/see-through_chastity_bra.asset.ts
  src/assets/collars/heart_choker/heart_choker.asset.ts
  src/assets/collars/leather_choker/leather_choker.asset.ts
  src/assets/collars/metal_collar/metal_collar.asset.ts
  src/assets/collars/posture_collar/posture_collar.asset.ts
  src/assets/dresses/latex_catsuit/latex_catsuit.asset.ts
  src/assets/dresses/latex_swimsuit/latex_swimsuit.asset.ts
  src/assets/dresses/maid_dress/maid_dress.asset.ts
  src/assets/foot_restraints/leather_ankle_cuffs/leather_ankle_cuffs.asset.ts
  src/assets/foot_restraints/leather_thigh_cuffs/leather_thigh_cuffs.asset.ts
  src/assets/foot_restraints/steel_ankle_cuffs/steel_ankle_cuffs.asset.ts
  src/assets/footwear/boots/boots.asset.ts
  src/assets/footwear/fluffy_shoes/fluffy_shoes.asset.ts
  src/assets/footwear/high_heels/high_heels.asset.ts
  src/assets/gags/ballgag/ballgag.asset.ts
  src/assets/gags/bitgag/bitgag.asset.ts
  src/assets/gags/dildogag/dildogag.asset.ts
  src/assets/gags/large_ballgag/large_ballgag.asset.ts
  src/assets/gags/pluggag/pluggag.asset.ts
  src/assets/gags/ringgag/ringgag.asset.ts
  src/assets/gags/tongue_strap/tongue_strap.asset.ts
  src/assets/gags/wifflegag/wifflegag.asset.ts
  src/assets/misc/connectingChains/connectingChains.asset.ts
  src/assets/panties/heart_belt/heart_belt.asset.ts
  src/assets/panties/see-through_chastity_belt/see-through_chastity_belt.asset.ts
  src/assets/panties/strapon_panties/strapon_panties.asset.ts
  src/assets/room_devices/floor_anchors/floor_anchors.asset.ts
  src/assets/toys/metal_chastity_cage/metal_chastity_cage.asset.ts
  src/tools/validation/modules.ts
Labels: Type: Improvement, Component: Asset framework
